<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>言葉の泉</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .japanese {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 0.5em;
        }
        .translation {
            font-size: 1em;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <audio controls>
        <source src="{{ audio_string }}" type="audio/wav">
    </audio>

    {% for item in data %}
        <div class="japanese">{{ item.ja_text }}</div>
        <div class="japanese">{{ item.reading }}</div>
        <div class="translation">翻訳:</div>
        <ul>
            <li>英語: {{ item.en_text }}</li>
            <li>中国語: {{ item.cn_text }}</li>
            <li>hash: {{ item.hash }}</li>
        </ul>
        <hr>
    {% endfor %}

    {% if data|length == 1 %}
    <div class="explain">
        {{ data[0].explain }}
    </div>
    <script>
        const explainElement = document.querySelector(".explain");
        explainElement.innerHTML = marked.parse("## Explanation\n\n" + explainElement.textContent);
    </script>
    {% endif %}
</body>
</html>
